.App {
  min-height: 100vh;
  transition: background-color 0.3s, color 0.3s;
  padding-top: 10%;
}

.App.light {
  background-color: #ffffff;
  color: #000000;
}

.App.dark {
  background-color: #212529;
  color: #f8f9fa;
}
